/* BODY ------------------*/

body {
    margin: 0 0 0 0;
    font-family: sans-serif;    
}

a:link {
    color: #0099cc;
    text-decoration: none;
}

a:visited {
	color: #0099cc;
    text-decoration: none;
}
a:hover {
	color: #00ccff;
    text-decoration: none;
}

.ul {
    list-style-type: none;
}

/* TOP NAV -------------- */


header {
    width: 100%;
    position: relative;
    top: 0;
    padding-left: 1.5em;
    padding-top: 1.5em;
    background-color: #cccccc;
}

nav {
    width: 100%;
    background-color: #cccccc;
    position: relative;
    text-align: left;
    padding-top: 5px
    padding-bottom: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}
 
nav ul li {
    display: inline-block;
}
     
nav > ul > li > a {
    color: #0099cc;
    display: block;
    line-height: 30px;
    padding: 10px 24px;
}

nav > ul > li:hover {
    background-color: #fff;
    color: #000;
}

nav h1 {
    color: #fff;
}

.selected {
    background-color: #fff;
    color: #000;   
}




/* CONTENT ------------------*/

.content {
    position: relative;
    float: left;
    display: inline;
    padding: 40px 21px;
    max-width: 900px;
}

.image {
    position: relative;
    float: left;
}