/* BODY ------------------*/

body {
    margin: 0 0 0 0;
    font-family: sans-serif;    
}

a:link {
    color: #00ccff;
    text-decoration: none;
}

a:visited {
	color: #00ccff;
    text-decoration: none;
}
a:hover {
	color: #00ccff;
    text-decoration: none;
}

.ul {
    list-style-type: none;
}

/* TOP NAV -------------- */


header {
    width: 100%;
    position: relative;
    top: 0;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0em;
    background-color: #e3e3e3;
}

nav {
    width: 100%;
    background-color: #e3e3e3;
    position: relative;
    text-align: left;
    padding-top: 5px
    padding-bottom: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}
 
nav ul li {
	font-size: large;
    display: inline-block;
	font-weight: bolder;
}
     
nav > ul > li > a {
    display: block;
    line-height: 30px;
    padding: 10px 24px;
}

nav > ul > li:hover {
    background-color: #fff;
}

nav h1 {
    color: #333;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}

nav h2 {
	color: #fff;
	text-decoration: none;
	}
	
nav h3 {
	color: #fff;
	text-decoration: none;
	}

.selected {
    background-color: #fff;
    color: #000;
}



/* CONTENT ------------------*/

table, th, td {
	width: 100%;
}

.content {
    position: relative;
    float: left;
    display: inline;
    padding: 40px 21px;
    max-width: 900px;
}

.coin {
    position: relative;
    float: left;
    padding-right: 1em;
}