/* BODY ------------------*/

body 
{
margin: 0 0 0 0;
font-family: sans-serif;    
}

/* HEADER -------------- */

header 
{
width: 100%;
position: relative;
top: 0;
padding-left: 1.5em;
padding-top: 1.5em;
background-color: #000;
}

/* CONTENT ------------------*/

.content 
{
position: relative;
float: left;
display: inline;
padding: 40px 21px;
max-width: 900px;
}